<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create Account</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Create your Library Account</h1>
            <form action="/login_new" method="post">
                <label for="name">Enter your name</label>
                <input name="name" type="text" required><br>
                <label for="password">Enter password</label>
                <input name="password" type="text" required>
                 <button type='submit'>Create Account</button>
            </form>
        </div>
    </body>
</html>
